@{
ViewBag.Title = "Kart";
Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.YazilimGuvenligiModel

<form id="formKayit" name="formKayit" autocomplete="off">
@{
int   dilKimlik = Model.gecerliDil();
}
<div class="@Ayar.tamGenislik">
<div class="row">
@Html.HiddenFor(model => model.fotoKonumu)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Son Kullanım Tarihi", dilKimlik)  </label>
				 @Html.TextBoxFor(m => m.kartVerisi.sonKullanimTarihi, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>
       @Html.HiddenFor(model => model.kartVerisi.yazilimGuvenligikimlik)
       @Html.HiddenFor(model => model.kartVerisi.yazilimGuvenligikimlik)
       @Html.HiddenFor(model => model.kartVerisi.varmi)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("API Kodu", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.apiKodu, new { @class = @Ayar.textBoxBicim(), maxlength = "400" ,   placeholder = @Ayar.sozcuk("API Kodu", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.tamGenislik>
                <br />
                <div class="card table-card">
                    <div class="card-header pb-0">
                        <h4> 
              @Ayar.sozcuk("Python Kodu", dilKimlik)  
</h4>
                    </div> 
                    @Html.TextAreaFor(m => m.kartVerisi.pythonKodu, new { @id = "elm1", name = "elm1" })
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Geçerli mi", dilKimlik)  </label>
                    @Html.DropDownListFor(m => m.kartVerisi.e_gecerliMi, Model.evetHayirCek() ,  @Ayar.sozcuk("Lütfen Seçiniz", dilKimlik), new { @class = "form-control select2" })
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Başlık", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.baslik, new { @class = @Ayar.textBoxBicim(), maxlength = "300" ,   placeholder = @Ayar.sozcuk("Başlık", dilKimlik) }) 
                </div>
            </div>
@Html.HiddenFor(model => model.yenimi)
</div>
<hr />
<button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
@Ayar.sozcuk("Kaydet", dilKimlik)
</button>
</div>
</form>
<script>
    @Html.Raw(Ayar.yukleyiciIfadesi())
</script>
<script>
function ekle() {
tinyMCE.triggerSave();
var valdata = $("#formKayit").serialize();
console.table(valdata);
$.ajax({
url: "/YazilimGuvenligi/Kaydet/",
type: "Post",
data: valdata,
contentType: "application/x-www-form-urlencoded; charset=UTF-8",
dataType: "json",
success: function (response) {
if (!response.success) {
Swal.fire(
'@Ayar.sozcuk("Hata", dilKimlik)',
response.message,
'error'        );
return false;
}
else {
Swal.fire(	'@Ayar.sozcuk("Başarılı", dilKimlik)',   response.message,
'success'                    ).then(function () {
var deger = String(document.getElementById("yenimi").value);
if (deger == "True") {
window.location.reload();
}
})
}
}
});
}

</script>

