@{
ViewBag.Title = "Kart";
Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.BelgeTuruModel

<form id="formKayit" name="formKayit" autocomplete="off">
@{
int   dilKimlik = Model.gecerliDil();
}
<div class="@Ayar.tamGenislik">
<div class="row">
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Belge Türü Adı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.belgeTuruAdi, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("Belge Türü Adı", dilKimlik) }) 
                </div>
            </div>
       @Html.HiddenFor(model => model.kartVerisi.belgeTurukimlik)
       @Html.HiddenFor(model => model.kartVerisi.belgeTurukimlik)
       @Html.HiddenFor(model => model.kartVerisi.varmi)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Açıklama", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.aciklama, new { @class = @Ayar.textBoxBicim(), maxlength = "500" ,   placeholder = @Ayar.sozcuk("Açıklama", dilKimlik) }) 
                </div>
            </div>
@Html.HiddenFor(model => model.yenimi)
</div>
<hr />
<button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
@Ayar.sozcuk("Kaydet", dilKimlik)
</button>
</div>
</form>

<script>
function ekle() {

var valdata = $("#formKayit").serialize();
console.table(valdata);
$.ajax({
url: "/BelgeTuru/Kaydet/",
type: "Post",
data: valdata,
contentType: "application/x-www-form-urlencoded; charset=UTF-8",
dataType: "json",
success: function (response) {
if (!response.success) {
Swal.fire(
'@Ayar.sozcuk("Hata", dilKimlik)',
response.message,
'error'
);
return false;
}
else {
Swal.fire(
'@Ayar.sozcuk("Başarılı", dilKimlik)',
response.message,
'success'
).then(function () {
var deger = String(document.getElementById("yenimi").value);
if (deger == "True") {
window.location.reload();
}
})
}
}
});
}

</script>

