@{
    ViewBag.Title = "Kart";
    Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.sifreSifirlaModel


<form id="formKayit" name="formKayit" autocomplete="off">
    @{
        int dilKimlik = 1;
    }
    <div class="@Ayar.tamGenislik">
        <div class="row">
           
            @Html.HiddenFor(model => model.kisi.kullaniciKimlik)
            
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Ad Soyadı", dilKimlik)  </label>
                    @Model.kisi.gercekAdi

                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Kullanıcı Adı", dilKimlik)  </label>
                    @Model.kisi.kullaniciAdi

                </div>
            </div>



            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Telefon", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kisi.telefon, new { @class = @Ayar.textBoxBicim(), maxlength = "12", placeholder = @Ayar.sozcuk("Yazılım Adı", dilKimlik) })
                </div>
            </div> 
              
        </div>
        <hr />
        <button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
            @Ayar.sozcuk("Şifre Sıfırlama SMS'i Gönder", dilKimlik)
        </button>
    </div>
</form>

<script>
    function ekle() {

    var valdata = $("#formKayit").serialize();
    console.table(valdata);
    $.ajax({
    url: "/Kullanici/sifirla/",
    type: "Post",
    data: valdata,
    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
    dataType: "json",
    success: function (response) {
    if (!response.success) {
    Swal.fire(
    '@Ayar.sozcuk("Hata", dilKimlik)',
    response.message,
    'error'        );
    return false;
    }
    else {
    Swal.fire(	'@Ayar.sozcuk("Başarılı", dilKimlik)',   response.message,
    'success'                    ).then(function () {
    if(response.yonlensinmi == true)
    {
    window.location.href= response.yonlenmeAdresi;
    }
    var deger = String(document.getElementById("yenimi").value);
    if (deger == "True") {
    window.location.reload();
    }
    })
    }
    }
    });
    } 
</script>

