@{
    ViewBag.Title = "Kart";
    Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@model UniStaj.Models.GonderilenSMSModel

<form id="formKayit" name="formKayit" autocomplete="off">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">.</label>
                    @Html.TextBoxFor(m => m.kartVerisi.telefon, new { @class = @Ayar.textBoxBicim(), maxlength = "12" ,   placeholder = "." })
                </div>
            </div>
            @Html.HiddenFor(model => model.kartVerisi.gonderilenSMSKimlik)
            @Html.HiddenFor(model => model.kartVerisi.gonderilenSMSKimlik)
            @Html.HiddenFor(model => model.kartVerisi.varmi)
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">.</label>
                    @Html.TextBoxFor(m => m.kartVerisi.baslik, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = "." })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">.</label>
                    @Html.TextBoxFor(m => m.kartVerisi.adSoyAd, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = "." })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">.</label>
                    @Html.TextBoxFor(m => m.kartVerisi.metin, new { @class = @Ayar.textBoxBicim(), maxlength = "500" ,   placeholder = "." })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="city" class="col-form-label">.</label>
                    @Html.TextBoxFor(m => m.kartVerisi.tarih, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">.</label>
                    @Html.TextBoxFor(m => m.kartVerisi.y_topluGonderimKimlik, new { @class = @Ayar.textBoxBicim(),   placeholder = "." })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">.</label>
                    @Html.TextBoxFor(m => m.kartVerisi.tcKimlikNo, new { @class = @Ayar.textBoxBicim(), maxlength = "11" ,   placeholder = "." })
                </div>
            </div>
            @Html.HiddenFor(model => model.yenimi)
        </div>
        <hr />
        <button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
            Kaydet
        </button>
    </div>
</form>

<script>
    function ekle() {

        var valdata = $("#formKayit").serialize();
        console.table(valdata);
        $.ajax({
            url: "/GonderilenSMS/Kaydet/",
            type: "Post",
            data: valdata,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (response) {
                if (!response.success) {
                    Swal.fire(
                        'Hata',
                        response.message,
                        'error'
                    );
                    return false;
                }
                else {
                    Swal.fire(
                        'Başarılı',
                        response.message,
                        'success'
                    ).then(function () {
                        var deger = String(document.getElementById("yenimi").value);
                        if (deger == "True") {
                            window.location.reload();
                        }
                    })
                }
            }
        });
    }

</script>

