@{
    ViewBag.Title = "Kart";
    Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@model UniStaj.Models.HataBildirimiModel

<form id="formKayit" name="formKayit" autocomplete="off">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="city" class="col-form-label">Yönetici</label>
                    @Html.DropDownListFor(m => m.kartVerisi.i_yoneticiKimlik, Model._KullaniciAYRINTIler() , "Lütfen Seçiniz", new { @class = "form-control select2" })
                </div>
            </div>
            @Html.HiddenFor(model => model.kartVerisi.hataBildirimiKimlik) 
            @Html.HiddenFor(model => model.kartVerisi.varmi)
            @Html.HiddenFor(model => model.kartVerisi.kodu)
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">Başlık</label>
                    @Html.TextBoxFor(m => m.kartVerisi.baslik, new { @class = @Ayar.textBoxBicim(), maxlength = "100" ,   placeholder = "Başlık" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="city" class="col-form-label">Tarih</label>
                    @Html.TextBoxFor(m => m.kartVerisi.tarih, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="city" class="col-form-label">Görüldü mü</label>
                    @Html.DropDownListFor(m => m.kartVerisi.e_goruldumu, Model._evetHayir() , "Lütfen Seçiniz", new { @class = "form-control select2" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="form-group">
                    <label for="member-name" class="col-form-label">Hata Alınan Sayfa</label>
                    @Html.TextBoxFor(m => m.kartVerisi.hataAlinanSayfa, new { @class = @Ayar.textBoxBicim(), maxlength = "500" ,   placeholder = "Hata Alınan Sayfa" })
                </div>
            </div>
            <div class=@Ayar.tamGenislik>
                <br />
                <div class="card table-card">
                    <div class="card-header pb-0">
                        <h4> Hata Açıklaması </h4>
                    </div>
                    @Html.TextAreaFor(m => m.kartVerisi.hataAciklamasi, new { @id = "elm1", name = "elm1" })
                </div>
            </div>
            @Html.HiddenFor(model => model.yenimi)
        </div>
        <hr />
        <button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
            Kaydet
        </button>
    </div>
</form>
<script>
    @Html.Raw(Ayar.yukleyiciIfadesi())
</script>
<script>
    function ekle() {
        tinyMCE.triggerSave();
        var valdata = $("#formKayit").serialize();
        console.table(valdata);
        $.ajax({
            url: "/HataBildirimi/Kaydet/",
            type: "Post",
            data: valdata,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (response) {
                if (!response.success) {
                    Swal.fire(
                        'Hata',
                        response.message,
                        'error'
                    );
                    return false;
                }
                else {
                    Swal.fire(
                        'Başarılı',
                        response.message,
                        'success'
                    ).then(function () {
                        var deger = String(document.getElementById("yenimi").value);
                        if (deger == "True") {
                            window.location.reload();
                        }
                    })
                }
            }
        });
    }

</script>

