@{
    ViewBag.Title = "Kart";
    Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.DuyuruModel

<form id="formKayit" name="formKayit" autocomplete="off">
    @{
        int dilKimlik = Model.gecerliDil();
    }
    <div class="@Ayar.tamGenislik">
        <div class="row">
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Başlık", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.baslik, new { @class = @Ayar.textBoxBicim(), maxlength = "300", placeholder = @Ayar.sozcuk("Başlık", dilKimlik) })
                </div>
            </div>
            @Html.HiddenFor(model => model.kartVerisi.duyurukimlik)
            @Html.HiddenFor(model => model.kartVerisi.varmi)
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Tanıtım", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.tanitim, new { @class = @Ayar.textBoxBicim(), maxlength = "1000", placeholder = @Ayar.sozcuk("Tanıtım", dilKimlik) })
                </div>
            </div>
            <div class=@Ayar.tamGenislik>
                <br />
                <div class="card table-card">
                    <div class="card-header pb-0">
                        <h4>
                            @Ayar.sozcuk("Açıklama", dilKimlik)
                        </h4>
                    </div>
                    @Html.TextAreaFor(m => m.kartVerisi.aciklama, new { @id = "elm1", name = "elm1" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Bağlantı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.baglanti, new { @class = @Ayar.textBoxBicim(), maxlength = "250", placeholder = @Ayar.sozcuk("Bağlantı", dilKimlik) })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Sırası", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.sirasi, new { @class = @Ayar.textBoxBicim(), placeholder = @Ayar.sozcuk("Sırası", dilKimlik) })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Başlangıç", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.baslangic, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Bitiş", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.bitis, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Yayındamı", dilKimlik)  </label>
                    @Html.DropDownListFor(m => m.kartVerisi.e_yayindami, Model.evetHayirCek(), @Ayar.sozcuk("Lütfen Seçiniz", dilKimlik), new { @class = "form-control select2" })
                </div>
            </div>
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Geçerli Olduğu Roller", dilKimlik)  </label>
                    @Html.Raw(Genel.cokluSecimHazirla("rolleri", "rolleri", Rol.doldur(Model.rolleri)))
                </div>
            </div>
            @Html.HiddenFor(model => model.yenimi)
        </div>
        <hr />
        <button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
            @Ayar.sozcuk("Kaydet", dilKimlik)
        </button>
    </div>
</form>
<script>
    @Html.Raw(Ayar.yukleyiciIfadesi())
</script>
<script>
    function ekle() {
        tinyMCE.triggerSave();
        var valdata = $("#formKayit").serialize();
        console.table(valdata);
        $.ajax({
            url: "/Duyuru/Kaydet/",
            type: "Post",
            data: valdata,
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            dataType: "json",
            success: function (response) {
                if (!response.success) {
                    Swal.fire(
                        '@Ayar.sozcuk("Hata", dilKimlik)',
                        response.message,
                        'error'
                    );
                    return false;
                }
                else {
                    Swal.fire(
                        '@Ayar.sozcuk("Başarılı", dilKimlik)',
                        response.message,
                        'success'
                    ).then(function () {
                        var deger = String(document.getElementById("yenimi").value);
                        if (deger == "True") {
                            window.location.reload();
                        }
                    })
                }
            }
        });
    }

</script>

