@{
ViewBag.Title = "Kart";
Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.SimgeModel
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<form id="formKayit" name="formKayit" autocomplete="off">
@{
int   dilKimlik = Model.gecerliDil();
}
<div class="@Ayar.tamGenislik">
<div class="row">
@Html.HiddenFor(model => model.fotoKonumu)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Başlık", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.baslik, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("Başlık", dilKimlik) }) 
                </div>
            </div>
       @Html.HiddenFor(model => model.kartVerisi.simgekimlik)
       @Html.HiddenFor(model => model.kartVerisi.simgekimlik)
       @Html.HiddenFor(model => model.kartVerisi.i_fotoKimlik)
       @Html.HiddenFor(model => model.kartVerisi.varmi)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">

                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk(Model._fotoTanimi(), dilKimlik)  </label>
                    <input id="files" name="files" type="file" size="1" class="@Ayar.dosyaYukleyiciBicim()" multiple onchange="fotoYukle('files');" />
	<img id="imYuklenen" src="@Model.fotoKonumu" width="0" height="0" />
                </div>
            </div>
@Html.HiddenFor(model => model.yenimi)
</div>
<hr />
<button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
@Ayar.sozcuk("Kaydet", dilKimlik)
</button>
</div>
</form>

<script>
function ekle() {

var valdata = $("#formKayit").serialize();
console.table(valdata);
$.ajax({
url: "/Simge/Kaydet/",
type: "Post",
data: valdata,
contentType: "application/x-www-form-urlencoded; charset=UTF-8",
dataType: "json",
success: function (response) {
if (!response.success) {
Swal.fire(
'@Ayar.sozcuk("Hata", dilKimlik)',
response.message,
'error'        );
return false;
}
else {
Swal.fire(	'@Ayar.sozcuk("Başarılı", dilKimlik)',   response.message,
'success'                    ).then(function () {
if(response.yonlensinmi == true)
{
window.location.href= response.yonlenmeAdresi;
}
var deger = String(document.getElementById("yenimi").value);
if (deger == "True") {
window.location.reload();
}
})
}
}
});
}
                function fotoYukle(inputId) {
                    var input = document.getElementById(inputId);
                    var files = input.files;
                    var formData = new FormData();
                    for (var i = 0; i != files.length; i++) {
                        formData.append("files", files[i]);
                    }
                    $.ajax(
                        {
                            url: "/GeciciDosya/CokluYukle",
                            data: formData,
                            processData: false,
                            contentType: false,
                            type: "POST",
                            success: function (response) {
                                var deger = response.message.split('>');
                                $('#imYuklenen').attr('src', deger[1]);
                                $('#imYuklenen').attr('height', '210');
                                $('#imYuklenen').attr('width', '280');
                                $('#fotoKonumu').val(deger[0]);
                            }
                        }
                    );
                } 
</script>

