@{
ViewBag.Title = "Kart";
Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.StajBasvurusuModel
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<form id="formKayit" name="formKayit" autocomplete="off">
@{
int   dilKimlik = Model.gecerliDil();
}
<div class="@Ayar.tamGenislik">
<div class="row">
@Html.HiddenFor(model => model.fotoKonumu)
 
       @Html.HiddenFor(model => model.kartVerisi.stajBasvurusukimlik) 
       @Html.HiddenFor(model => model.kartVerisi.varmi)
            @Html.HiddenFor(model => model.kartVerisi.kodu)
            @Html.HiddenFor(model => model.kartVerisi.i_stajyerKimlik)
            <div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label class="@Ayar.labelBicim"> @Ayar.sozcuk("Vergi No", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.vergiNo, new { @class = @Ayar.textBoxBicim(), maxlength = "50", onchange="firmaCek(); return false;" , placeholder = @Ayar.sozcuk("Vergi No", dilKimlik) })
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Kurum Adı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.stajKurumAdi, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("Kurum Adı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Kurum Türü", dilKimlik)  </label>
                    @Html.DropDownListFor(m => m.kartVerisi.i_stajkurumturukimlik, Bilesen.doldur(Model._ayStajKurumTuruAYRINTI) ,  @Ayar.sozcuk("Lütfen Seçiniz", dilKimlik), new { @class = "form-control select2" })
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Hizmet Alanı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.hizmetAlani, new { @class = @Ayar.textBoxBicim(), maxlength = "50" ,   placeholder = @Ayar.sozcuk("Hizmet Alanı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("IBAN", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.ibanNo, new { @class = @Ayar.textBoxBicim(), maxlength = "30" ,   placeholder = @Ayar.sozcuk("IBAN", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Çalışan Sayısı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.calisanSayisi, new { @class = @Ayar.textBoxBicim(),   placeholder = @Ayar.sozcuk("Çalışan Sayısı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Adresi", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.adresi, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = @Ayar.sozcuk("Adresi", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Tel No", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.telNo, new { @class = @Ayar.textBoxBicim(), maxlength = "12" ,   placeholder = @Ayar.sozcuk("Tel No", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("E-Posta", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.ePosta, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = @Ayar.sozcuk("E-Posta", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Faks", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.faks, new { @class = @Ayar.textBoxBicim(), maxlength = "12" ,   placeholder = @Ayar.sozcuk("Faks", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Web Sitesi", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.webAdresi, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = @Ayar.sozcuk("Web Sitesi", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Yetkili Ad Soyad", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.yetkilisi, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("Yetkili Ad Soyad", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Yetkili Görevi", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.yetkiliGorevi, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("Yetkili Görevi", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Yetkili Tel", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.yetkiliTel, new { @class = @Ayar.textBoxBicim(), maxlength = "12" ,   placeholder = @Ayar.sozcuk("Yetkili Tel", dilKimlik) }) 
                </div>
            </div>
<div class="@Ayar.yariGenislik">
    <div class="@Ayar.formGrup">
        <label class="@Ayar.labelBicim">@Ayar.sozcuk("Staj Türü", dilKimlik)</label>
       @Html.DropDownListFor(m => m.kartVerisi.i_stajTuruKimlik, Bilesen.doldur(Model._ayStajTuruAYRINTI) ,  @Ayar.sozcuk("Lütfen Seçiniz", dilKimlik), new { @class = "form-control select2" })
    </div>
</div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Başlangıç", dilKimlik)  </label>
				 @Html.TextBoxFor(m => m.kartVerisi.baslangic, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Bitiş", dilKimlik)  </label>
				 @Html.TextBoxFor(m => m.kartVerisi.bitis, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Gün Sayısı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.gunSayisi, new { @class = @Ayar.textBoxBicim(),   placeholder = @Ayar.sozcuk("Gün Sayısı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Sınıfı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.sinifi, new { @class = @Ayar.textBoxBicim(),   placeholder = @Ayar.sozcuk("Sınıfı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Çalışma Günleri", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.calismaGunleri, new { @class = @Ayar.textBoxBicim(), maxlength = "20" ,   placeholder = @Ayar.sozcuk("Çalışma Günleri", dilKimlik) }) 
                </div>
            </div>
@Html.HiddenFor(model => model.yenimi)
</div>
<hr />
<button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
@Ayar.sozcuk("Kaydet", dilKimlik)
</button>
</div>
</form>

<script>

    
    function firmaCek() {
         
        var vergiNo = $('#kartVerisi_vergiNo').val();

            if (!vergiNo) {
            return;
    }


                $.getJSON('/StajBasvurusu/firmaBilgisiCek?vergiNo='+vergiNo, function (response) {
            if (!response.success) {
            Swal.fire("Hata", response.message, "error");
            return;
        }

        var data = response.bilgi;


            $('#kartVerisi_stajKurumAdi').val(data.stajKurumAdi);
                $('#kartVerisi_i_stajkurumturukimlik').val(data.i_stajkurumturukimlik).trigger('change');
    ;
            $('#kartVerisi_hizmetAlani').val(data.hizmetAlani);
            $('#kartVerisi_ibanNo').val(data.ibanNo);
            $('#kartVerisi_calisanSayisi').val(data.calisanSayisi);
            $('#kartVerisi_adresi').val(data.adresi);
            $('#kartVerisi_telNo').val(data.telNo);
            $('#kartVerisi_ePosta').val(data.ePosta);
            $('#kartVerisi_faks').val(data.faks);
            $('#kartVerisi_webAdresi').val(data.webAdresi);
        });
    }
   

    function ekle() {

var valdata = $("#formKayit").serialize();
console.table(valdata);
$.ajax({
url: "/StajBasvurusu/Kaydet/",
type: "Post",
data: valdata,
contentType: "application/x-www-form-urlencoded; charset=UTF-8",
dataType: "json",
success: function (response) {
if (!response.success) {
Swal.fire(
'@Ayar.sozcuk("Hata", dilKimlik)',
response.message,
'error'        );
return false;
}
else {
Swal.fire(	'@Ayar.sozcuk("Başarılı", dilKimlik)',   response.message,
'success'                    ).then(function () {
if(response.yonlensinmi == true)
{
window.location.href= response.yonlenmeAdresi;
}
var deger = String(document.getElementById("yenimi").value);
if (deger == "True") {
window.location.reload();
}
})
}
}
});
}

</script>

