@{
ViewBag.Title = "Kart";
Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.StajKurumuModel
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<form id="formKayit" name="formKayit" autocomplete="off">
@{
int   dilKimlik = Model.gecerliDil();
}
<div class="@Ayar.tamGenislik">
<div class="row">
@Html.HiddenFor(model => model.fotoKonumu)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Staj Kurum Adı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.stajKurumAdi, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("Staj Kurum Adı", dilKimlik) }) 
                </div>
            </div>
       @Html.HiddenFor(model => model.kartVerisi.stajKurumukimlik)
       @Html.HiddenFor(model => model.kartVerisi.stajKurumukimlik)
       @Html.HiddenFor(model => model.kartVerisi.varmi)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("stajKurumTuru", dilKimlik)  </label>
                    @Html.DropDownListFor(m => m.kartVerisi.i_stajkurumturukimlik, Bilesen.doldur(Model._ayStajKurumTuruAYRINTI) ,  @Ayar.sozcuk("Lütfen Seçiniz", dilKimlik), new { @class = "form-control select2" })
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Hizmet Alanı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.hizmetAlani, new { @class = @Ayar.textBoxBicim(), maxlength = "50" ,   placeholder = @Ayar.sozcuk("Hizmet Alanı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Web Adresi", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.webAdresi, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = @Ayar.sozcuk("Web Adresi", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Vergi No", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.vergiNo, new { @class = @Ayar.textBoxBicim(), maxlength = "50" ,   placeholder = @Ayar.sozcuk("Vergi No", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("IBAN No", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.ibanNo, new { @class = @Ayar.textBoxBicim(), maxlength = "30" ,   placeholder = @Ayar.sozcuk("IBAN No", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Çalışan Sayısı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.calisanSayisi, new { @class = @Ayar.textBoxBicim(),   placeholder = @Ayar.sozcuk("Çalışan Sayısı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Adresi", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.adresi, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = @Ayar.sozcuk("Adresi", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Tel No", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.telNo, new { @class = @Ayar.textBoxBicim(), maxlength = "12" ,   placeholder = @Ayar.sozcuk("Tel No", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("E Posta", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.ePosta, new { @class = @Ayar.textBoxBicim(), maxlength = "150" ,   placeholder = @Ayar.sozcuk("E Posta", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Faks", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.faks, new { @class = @Ayar.textBoxBicim(), maxlength = "12" ,   placeholder = @Ayar.sozcuk("Faks", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Kara Listede mi", dilKimlik)  </label>
                    @Html.DropDownListFor(m => m.kartVerisi.e_karaListedeMi, Model.evetHayirCek() ,  @Ayar.sozcuk("Lütfen Seçiniz", dilKimlik), new { @class = "form-control select2" })
                </div>
            </div>
@Html.HiddenFor(model => model.yenimi)
</div>
<hr />
<button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
@Ayar.sozcuk("Kaydet", dilKimlik)
</button>
</div>
</form>

<script>
function ekle() {

var valdata = $("#formKayit").serialize();
console.table(valdata);
$.ajax({
url: "/StajKurumu/Kaydet/",
type: "Post",
data: valdata,
contentType: "application/x-www-form-urlencoded; charset=UTF-8",
dataType: "json",
success: function (response) {
if (!response.success) {
Swal.fire(
'@Ayar.sozcuk("Hata", dilKimlik)',
response.message,
'error'        );
return false;
}
else {
Swal.fire(	'@Ayar.sozcuk("Başarılı", dilKimlik)',   response.message,
'success'                    ).then(function () {
if(response.yonlensinmi == true)
{
window.location.href= response.yonlenmeAdresi;
}
var deger = String(document.getElementById("yenimi").value);
if (deger == "True") {
window.location.reload();
}
})
}
}
});
}

</script>

