@{
ViewBag.Title = "Kart";
Layout = "~/Views/_ana.cshtml";
}
@using UniStaj
@using UniStaj.veri
@model UniStaj.Models.UlkeModel
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<form id="formKayit" name="formKayit" autocomplete="off">
@{
int   dilKimlik = Model.gecerliDil();
}
<div class="@Ayar.tamGenislik">
<div class="row">
@Html.HiddenFor(model => model.fotoKonumu)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Ülke Adı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.ulkeAdi, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("Ülke Adı", dilKimlik) }) 
                </div>
            </div>
       @Html.HiddenFor(model => model.kartVerisi.ulkeKimlik)
       @Html.HiddenFor(model => model.kartVerisi.ulkeKimlik)
       @Html.HiddenFor(model => model.kartVerisi.varmi)
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("İngilizce Adı", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.ingilizceAdi, new { @class = @Ayar.textBoxBicim(), maxlength = "200" ,   placeholder = @Ayar.sozcuk("İngilizce Adı", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Sırası", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.sirasi, new { @class = @Ayar.textBoxBicim(),   placeholder = @Ayar.sozcuk("Sırası", dilKimlik) }) 
                </div>
            </div>
<div class=@Ayar.yariGenislik>
                <div class="@Ayar.formGrup">
                    <label  class="@Ayar.labelBicim"> @Ayar.sozcuk("Kısaltması", dilKimlik)  </label>
                    @Html.TextBoxFor(m => m.kartVerisi.kisaltmasi, new { @class = @Ayar.textBoxBicim(), maxlength = "20" ,   placeholder = @Ayar.sozcuk("Kısaltması", dilKimlik) }) 
                </div>
            </div>
@Html.HiddenFor(model => model.yenimi)
</div>
<hr />
<button type="button" onclick="ekle(); return false;" id="btnKaydet" class="btn btn-success" data-bs-toggle="modal">
@Ayar.sozcuk("Kaydet", dilKimlik)
</button>
</div>
</form>

<script>
function ekle() {

var valdata = $("#formKayit").serialize();
console.table(valdata);
$.ajax({
url: "/Ulke/Kaydet/",
type: "Post",
data: valdata,
contentType: "application/x-www-form-urlencoded; charset=UTF-8",
dataType: "json",
success: function (response) {
if (!response.success) {
Swal.fire(
'@Ayar.sozcuk("Hata", dilKimlik)',
response.message,
'error'        );
return false;
}
else {
Swal.fire(	'@Ayar.sozcuk("Başarılı", dilKimlik)',   response.message,
'success'                    ).then(function () {
if(response.yonlensinmi == true)
{
window.location.href= response.yonlenmeAdresi;
}
var deger = String(document.getElementById("yenimi").value);
if (deger == "True") {
window.location.reload();
}
})
}
}
});
}

</script>

